<% if @vuba %>

<h2><%= @vuba.title %></h2>

<h3>Standings</h3>
<table>
<tr>
<th>CITY</th>
<th class="num">W</th>
<th class="num">L</th>
<th class="num">RS</th>
<th class="num">RA</th>
<th class="num">WPCT</th>
</tr>
<% @vuba.standings.each do |c, sr| %>
<tr>
<td><%= sr.city %></td>
<td class="num"><%= sr.w %></td>
<td class="num"><%= sr.l %></td>
<td class="num"><%= sr.rs %></td>
<td class="num"><%= sr.ra %></td>
<td class="num"><%= sprintf('%.3f', sr.win_pct) %></td>
</tr>
<% end %>
</table>

<h3>Rosters</h3>
<% @vuba.teams.each do |c, t| %>
<table>
<tr>
<th><%= c %></th>
<th>POS</th>
<th>SKILL</th>
</tr>
<% t.roster.each do |bp| %>
<%= erb :ballplayer_line, :locals => { :bp => bp } %>
<% end %>
</table>
<% end %> 

<h3>Freeagents</h3>
<table>
<tr>
<th>NAME <%= sort_link :by_name %></th>
<th>POS <%= sort_link :by_pos %></th>
<th>SKILL <%= sort_link :by_skill %></th>
</tr>
<% ordered_freeagents.each do |fa| %>
<%= erb :ballplayer_line, :locals => { :bp => fa } %>
<% end %>
</table>

<% end %>